<% @feed_item = feed_item %>
 <div id="favorite_form-<%= @feed_item.id %>">
 <% if current_user.favorite?(@feed_item) %>
   <%= render 'users/unfavorite' %>
 <% else %>
   <%= render 'users/favorite' %>
 <% end %>
 </div>